<h1>all users</h1>

<%= link_to 'New user', new_user_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.mail %></td>
      <td><%= link_to 'show', user_path(user) %></td>
      <td><%= link_to 'edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>
