<% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail</strong>
  <%= @user.mail %>
</p>

<% if @image.count >0 %>
<p>
  <strong>all images</strong><br>
  <% @image.each do |p| %>
  <%= image_tag p.image_url, :style => "width: 300px; height: 250px;"  %>
  <%= link_to 'Delete', image_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
<%= paginate @image %>
<% end %>

<%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Add Images',  new_image_path %> |
<%= link_to 'Quit', session_path, method: :delete %> |
