<h1>Login</h1>
<%= form_for :authorization, url: authorization_check_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :mail %><br>
  <%= f.text_field :mail %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
